<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
       http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd">

    <description>多环境配置</description>

    <!-- 加载外部属性文件, ignore-unresolvable=true,表示忽略解析不到的属性。 -->
    <context:property-placeholder location="classpath:profiles/connectionPool.properties" ignore-unresolvable="true" />

    <beans profile="development, unitTest">
        <!-- 自定义加密属性配置器 -->
        <bean class="common.conf.EncryptPropertyPlaceHolderConfigure">
            <property name="fileEncoding" value="UTF-8"/>
            <property name="encryptPropertyNameList">
                <list>
                    <value>oracle.username</value>
                    <value>oracle.password</value>
                </list>
            </property>
            <property name="locations">
                <list>
                    <value>classpath:profiles/development/database.properties</value>
                    <!--<value>classpath:profiles/connectionPool.properties</value>-->
                </list>
            </property>
        </bean>
        <!--<context:property-placeholder location="classpath:profiles/development/database.properties" ignore-unresolvable="true" />-->
    </beans>

    <beans profile="test">
        <bean class="common.conf.EncryptPropertyPlaceHolderConfigure">
            <property name="fileEncoding" value="UTF-8"/>
            <property name="encryptPropertyNameList">
                <list>
                    <value>oracle.username</value>
                    <value>oracle.password</value>
                </list>
            </property>
            <property name="locations">
                <list>
                    <value>classpath:profiles/development/database.properties</value>
                    <!--<value>classpath:profiles/connectionPool.properties</value>-->
                </list>
            </property>
        </bean>
        <!--<context:property-placeholder location="classpath:profiles/test/database.properties" ignore-unresolvable="true" />-->
    </beans>

    <beans profile="production">
        <bean class="common.conf.EncryptPropertyPlaceHolderConfigure">
            <property name="fileEncoding" value="UTF-8"/>
            <property name="encryptPropertyNameList">
                <list>
                    <value>oracle.username</value>
                    <value>oracle.password</value>
                </list>
            </property>
            <property name="locations">
                <list>
                    <value>classpath:profiles/development/database.properties</value>
                    <!--<value>classpath:profiles/connectionPool.properties</value>-->
                </list>
            </property>
        </bean>
        <!--<context:property-placeholder location="classpath:profiles/production/database.properties" ignore-unresolvable="true" />-->
    </beans>
</beans>