<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:mvc="http://www.springframework.org/schema/mvc"
       xsi:schemaLocation=
               "http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-4.3.xsd
	            http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-4.3.xsd
	            http://www.springframework.org/schema/mvc http://www.springframework.org/schema/mvc/spring-mvc-4.3.xsd"
       default-lazy-init="false">

    <description>配置SpringMVC</description>

    <!-- 注解注入扫描配置 -->
    <!-- 排除@Service, @Repository，扫描@Controller -->
    <context:component-scan base-package="**.controller, **.remote" use-default-filters="false">
        <context:include-filter type="annotation" expression="org.springframework.stereotype.Controller" />
        <context:exclude-filter type="annotation" expression="org.springframework.stereotype.Service" />
        <context:exclude-filter type="annotation" expression="org.springframework.stereotype.Repository" />
    </context:component-scan>

    <bean id="conversionService" class="org.springframework.format.support.FormattingConversionServiceFactoryBean">
        <description>自定义类型转换支持</description>
        <property name="converters">
            <list>
                <bean class="common.converter.StringToDateConverter"/>
            </list>
        </property>
    </bean>

    <!-- 默认的注解映射的支持 -->
    <mvc:annotation-driven conversion-service="conversionService">
        <mvc:message-converters>
            <!-- 将 StringHttpMessageConverter 的编码设置为 UTF-8 -->
            <bean class="org.springframework.http.converter.StringHttpMessageConverter">
                <constructor-arg value="UTF-8" />
            </bean>

            <!-- 配置Jackson支持的媒体类型，解决IE不支持application/json的问题 -->
            <bean class="org.springframework.http.converter.json.MappingJackson2HttpMessageConverter">
                <property name="supportedMediaTypes">
                    <list>
                        <value>text/html;charset=UTF-8</value>
                        <value>application/json,charset=UTF-8</value>
                    </list>
                </property>
            </bean>
        </mvc:message-converters>
    </mvc:annotation-driven>

    <!--
        如何让Spring框架能够捕获所有URL的请求，同时又将静态资源的请求转由Web容器处理，
            是可将DispatcherServlet的请求映射配置为"/"的前提。
        两种经典解决方案之一：
            1、先调整web.xml中的DispatcherServlet的配置，使其可以捕获所有的请求；
            2、采用<mvc:default-servlet-handler />。会在Spring MVC上下文中定义
                一个org.springframework.web.servlet.resource.DefaultServletHttpRequestHandler，
                它会像一个检查员，对进入DispatcherServlet的URL进行筛查，如果发现是静态资源的请求，
                就将该请求转由Web应用服务器默认的Servlet处理，如果不是静态资源的请求，才由DispatcherServlet继续处理。
    -->
    <mvc:default-servlet-handler />

    <bean class="org.springframework.web.servlet.view.InternalResourceViewResolver">
        <description>JSP 视图解析器</description>
        <property name="viewClass" value="org.springframework.web.servlet.view.JstlView" />
        <property name="contentType" value="text/html;charset=UTF-8" />
        <property name="prefix" value="/WEB-INF/jsp/" />
        <property name="suffix" value=".jsp" />
    </bean>
</beans>